{% extends 'Sites_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} Sites {% endblock %}</h1>
    <div>
        <form action = "" method="POST">
            <label for="fname">Site ID:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>
{% endblock %}