{% extends 'base.html' %}

{% block content %}

    <h1 class="title">{% block title %} Sites {% endblock %}</h1>
    <div>
        <form action = "" method="POST">
            <label for="fname">Contract ID:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>

    <div class="content">
        <table class="style-table">
            {% for contract in contracts %}
            <tr>
                <td>
                    <form action="" method="POST">
                        <input type="submit" name="fname" value={{contract.ID}}>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock %}