{% extends 'base.html' %}

{% block content %}

    <h1 class="title">{% block title %} MSA's {% endblock %}</h1>
    <div>
        <form action = "" method="POST">
            <label for="fname">MSA Name:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>
    <div class="content">
        <table class="style-table">
        {% for link in links %}
            <tr>
                    <td>
                        <form action ="" method = "POST">
                            <input type="submit" name="fname" value={{link.Contract_Name}}>
                        </form>

                    </td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock %}