{% extends 'contract_validation_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} Contract Validation {% endblock %}</h1>
    <div>
        <form action = "" method="POST" enctype="multipart/form-data">
            <label for="VendorName">Vendor Name</label>
            <select id = 'VendorName' name = 'VendorName'>
                {% for vendor in vendors %}
                <option value="{{ vendor.Vendor_names }}">{{ vendor.Vendor_names }}</option>
                {% endfor %}
            </select>

            <label for = "action">Select the action this table is performing.</label>
            <select id = 'action' name = 'action'>
                <option value="Addition">Addition</option>
                <option value="Modification">Modification</option>
                <option value="Deselect Dish">Deselect Dish</option>
                <option value="Deselect Vendor">Deselect Vendor</option>
            </select>

            <script>
function showHideEle(selectSrc, targetEleId, triggerValue) {
	if(selectSrc.value==triggerValue) {
		document.getElementById(targetEleId).style.visibility = "visible";
	} else {
		document.getElementById(targetEleId).style.visibility = "hidden";
	}
	if(selectSrc.value=="MPA") {
	    document.getElementById('MPA_information').style.visibility = "visible";
	}  else {
	    document.getElementById('MPA_information').style.visibility = "hidden";
	}
}
            </script>

            <label for ="contract_type">Select the type of contract this table is being uploaded for.</label>
            <select id = 'contract_type' name = 'contract_type' onchange="showHideEle(this,'Amendment_information','AMD')">
                <option value="MSO">MSO</option>
                <option value="OMSO">OMSO</option>
                <option value='MPA'>MPA</option>
                <option value="CRF">CRF</option>
                <option value='AMD'>AMD</option>

            </select>


            <div class = "Amendment_information" id = "Amendment_information" style = "visibility:hidden;">
                <label for = "amd_contract_name">If this is an amendment please enter the name of the contract that this is amending.</label>
                <input type = "text" id = "amd_contract_name" name = "amd_contract_name" value = "">
            </div>

            <div class = "MPA_information" id = "MPA_information" style = "visibility:hidden;">
                <label for = "mpa_number">If this is an MPA please enter the number of the MPA.</label>
                <input type = "text" id = "mpa_number" name = "mpa_number" value = "">
            </div>


            <p>
                <label for="input_file">select your file:</label><br>
                <input type="file" id = "input_file" name = "input_file" accept=".csv,.xlsx"><br>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
{% endblock %}


