{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Dish Transport Team Informatics {% endblock %}</h1>
    <div class="content">
        <button name = 'button1' onclick="window.location='/sites';" >Click here for Site level information.</button>
        <button name = 'button2' onclick="window.location='/MPA';">Click here for MPA level information.</button>
        <button name = 'button3' onclick="window.location='/MSO';">Click here for MSO level information</button>
        <button name = 'button3' onclick="window.location='/MSA';">Click here for MSA level information</button>
        <button name = 'button3' onclick="window.location='/contract_validation';">Click here for Contract validation and upload</button>
    </div>

{% endblock %}