{% extends 'Sites_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} Sites {% endblock %}</h1>
    <div>
        <form action = "" method="POST">
            <label for="fname">Site ID:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>
{% endblock %}

{% block current_site_data %}
    {% for site in current_sites %}
    <div class="site_info">
        <p>{{site.SiteID}}</p>
        <p>Market - {{site.Market}}</p>
        <p>Region - {{site.Region}}</p>
        <p>AOI - {{site.AOI}}</p>
    </div>

    <div class="Contract_info">
        <p>Current Provider: {{site.NXOFiberProvider}}</p>
        <p>Contract name: {{site.Contract_Name}}</p>
        <p>Effective Date: {{site.Effective_Date}}</p>
        <p>TR020[AC]: {{site.TR020AC}}</p>
        <p>MRC: {{site.MRC}}</p>
        <p>NRC: {{site.NRC}}</p>
        <p>Delivery Interval: {{site.DeliveryInterval}}</p>
        <p>Term: {{site.Lease_term}}</p>
        <p>10 gig price upgrade cost: {{price_upgrade[0].upgrade_pricing}}</p>
        <p>Service Credits: {{site.ServiceCredits}}</p>
    </div>
    {% endfor %}
    <div class="content">
        <table class="styled_table">
            <caption>Current Site Contract</caption>
        {% for col in current_sites_columns %}
            <th>{{col.name}}</th>
        {% endfor %}
        {% for site in current_sites %}
            <tr>
                <td>{{site.SiteID}}</td>
                <td>
                    {% if 'MPA' in site.Contract_Name  and site.Contract_Name|length<13 %}
                        <form action="/MPA" method="POST">
                              <input type="submit" name="fname" value = {{site.Contract_Name}}>
                        </form>
                    {% else %}
                        <form action="/MSO" method="POST">
                              <input type="submit" name="fname" value = {{site.Contract_Name}}>
                        </form>
                    {% endif %}


                </td>
                <td>{{site.DeliveryInterval}}</td>
                <td>{{site.MRC}}</td>
                <td>{{site.NRC}}</td>
                <td>{{site.Lease_term}}</td>
                <td>{{site.NXOFiberProvider}}</td>
                <td>{{site.ContractedFiberProvider}}</td>
                <td>{{site.Status}}</td>
                <td>{{site.Region}}</td>
                <td>{{site.Market}}</td>
                <td>{{site.AOI}}</td>
                <td>{{site.FiberType}}</td>
                <td>{{site.NXOLaunchCategory}}</td>
                <td>{{site.TR020AC}}</td>
                <td>{{site.TR050AC}}</td>
                <td>{{site.TR080AC}}</td>
                <td>{{site.ProjectedInstallDate}}</td>
                <td>{{site.ServiceDelay}}</td>
                <td>{{site.ServiceCredits}}</td>
                <td>{{site.ETL_payable}}</td>
                <td>{{site.Terminable}}</td>
                <td>{{site.Effective_Date}}</td>
                <td>{{site.MPA_effective_date}}</td>

            </tr>
        {% endfor %}
        </table>
    </div>
    <button type = 'button' onclick="tableToCSV()">
        download  CSV
    </button>

    <script>
function tableToCSV() {

    // Variable to store the final csv data
    var csv_data = [];

    // Get each row data
    var rows = document.getElementsByTagName('tr');
    for (var i = 0; i < rows.length; i++) {

        // Get each column data
        var cols = rows[i].querySelectorAll('td,th');

        // Stores each csv row data
        var csvrow = [];
        for (var j = 0; j < cols.length; j++) {

            // Get the text data of each cell of
            // a row and push it to csvrow
            csvrow.push(cols[j].innerHTML);
        }

        // Combine each column value with comma
        csv_data.push(csvrow.join(","));
    }
    // combine each row data with new line character
    csv_data = csv_data.join('\n');

    /* We will use this function later to download
    the data in a csv file downloadCSVFile(csv_data);
    */
}




function downloadCSVFile(csv_data) {

	// Create CSV file object and feed our
	// csv_data into it
	CSVFile = new Blob([csv_data], { type: "text/csv" });

	// Create to temporary link to initiate
	// download process
	var temp_link = document.createElement('a');

	// Download csv file
	temp_link.download = "GfG.csv";
	var url = window.URL.createObjectURL(CSVFile);
	temp_link.href = url;

	// This link should not be displayed
	temp_link.style.display = "none";
	document.body.appendChild(temp_link);

	// Automatically click the link to trigger download
	temp_link.click();
	document.body.removeChild(temp_link);
}


</script>





{% endblock %}

{% block site_history_data %}
    <div class="content">
        <table class="styled_table">
            <caption>Site History</caption>
        {% for col in site_history_columns %}
            <th>{{col.name}}</th>
        {% endfor %}
        {% for site in site_history %}
            <tr>
                <td>{{site.SiteID}}</td>
                <td>{{site.Vendor}}</td>
                <td>
                    {% if 'MPA' in site.Contract_Name  and site.Contract_Name|length<13 %}
                        <form action="/MPA" method="POST">
                              <input type="submit" name="fname" value = {{site.Contract_Name}}>
                        </form>
                    {% else %}
                        <form action="/MSO" method="POST">
                              <input type="submit" name="fname" value = {{site.Contract_Name}}>
                        </form>
                    {% endif %}
                </td>
                <td>{{site.EffectiveDate}}</td>
                <td>{{site.DeliveryInterval}}</td>
                <td>{{site.Term}}</td>
                <td>{{site.MRC}}</td>
                <td>{{site.NRC}}</td>
                <td>{{site.FiberType}}</td>
                <td>{{site.PortSpeed}}</td>
                <td>{{site.CIR}}</td>
                <td>{{site.Type}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>


{% endblock %}

