{% extends 'MSO_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} MSO's {% endblock %}</h1>
    <div >
        <form action = "" method="POST">
            <label for="fname">MSO Name:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>

{% endblock %}

{% block contract_data %}
<div class="MSO">
    <h1>MSO Information</h1>
    <p>Parent Contract:
        <form action="/MSA" method="POST">
            <input type="submit" name="fname" value={{contract_info[0].MSA_ID}}>
        </form>
    </p>
    <p>Fiber Provider: {{contract_info[0].Vendor}}</p>
    <p>Contract Name: {{contract_info[0].ID}}</p>
    <p>Effective Date: {{contract_info[0].Effective_Date}}</p>
    <p>10 gig pricing upgrade cost: {{price_upgrade[0].upgrade_pricing}}</p>
    <p>Design phase length: {{contract_info[0].Design_phase_length_days}}</p>
    <p>Term: {{contract_info[0].Term_months}}</p>

    <p># of sites originally in contract: {{originally_awarded.sites1.values[0]}}</p>
    <p># of sites currently in contract: {{current_sites.sites2.values[0]}}</p>
    <p># of sites deselected by Dish from this contract: {{deselect_info[0].TotalDeselectDishCNT}}</p>
    <p># of sites deselected by Vendor from this contract: {{deselect_info[0].TotalDeselectVendorCNT}}</p>

    <p>Deselect allowed percent (DISH): {{deselect_info[0].DishDeselectPenaltyPCT}}</p>
    <p>Current Dish deselect percentage: {{deselect_info[0].DeselectDishPCT}}</p>
    <P>Dish penalty for deselecting over allowed percent: {{deselect_info[0].DishPenaltyAMT}}</P>

    <p>Deselect allowed percent (VENDOR): {{deselect_info[0].VendorDeselectPenaltyPCT}}</p>
    <p>Current Vendor deselect percentage: {{deselect_info[0].DeselectVendorPCT}}</p>
    <p>Vendor deselect penalty owed: {{deselect_info[0].VendorPenaltyAMT}}</p>

    <p>Current total contract value: {{TCV.TCV.values[0]}}</p>
    <p>ETL payable on cancellation: {{etl.etl_payable.values[0]}}</p>
    <p>Service credits owed due to late sites: {{service_credits.credits.values[0]}}</p>
    <a href={{contract_info[0].hyperlink}} target="'_blank">MSO original</a>
</div>
{% endblock %}


{% block site_data %}
    <div class="content">
        <table class="style-table">
        {% for col in columns %}
            <th>{{col.name}}</th>
        {% endfor %}
        {% for site in site_info %}
            <tr>
                <td>
                    <form action="/sites" method = 'POST'>
                        <input type="submit" name="fname" value={{site.SiteID}}>
                    </form>
                </td>
                <td>{{site.Contract_Name}}</td>
                <td>{{site.DeliveryInterval}}</td>
                <td>{{site.MRC}}</td>
                <td>{{site.NRC}}</td>
                <td>{{site.Lease_term}}</td>
                <td>{{site.NXOFiberProvider}}</td>
                <td>{{site.ContractedFiberProvider}}</td>
                <td>{{site.Status}}</td>
                <td>{{site.Region}}</td>
                <td>{{site.Market}}</td>
                <td>{{site.AOI}}</td>
                <td>{{site.FiberType}}</td>
                <td>{{site.NXOLaunchCategory}}</td>
                <td>{{site.TR020AC}}</td>
                <td>{{site.TR050AC}}</td>
                <td>{{site.TR080AC}}</td>
                <td>{{site.ProjectedInstallDate}}</td>
                <td>{{site.ServiceDelay}}</td>
                <td>{{site.ServiceCredits}}</td>
                <td>{{site.ETL_payable}}</td>
                <td>{{site.Terminable}}</td>
                <td>{{site.Effective_Date}}</td>
                <td>{{site.MPA_effective_date}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}