{% extends 'MPA_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} MPA's {% endblock %}</h1>
    <div >
        <form action = "" method="POST">
            <label for="fname">MPA Name:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>

{% endblock %}

{% block contract_data %}
<div class="MSO">
    <h1>MPA Information</h1>
    <p>Parent Contract :
        <form action="/MSA" method="POST">
            <input type="submit" name="fname" value="{{contract_info[0].MSA_ID}}">
        </form>
    </p>
    <p>Fiber Provider: {{contract_info[0].Vendor}}</p>
    <p>Contract Name: {{contract_info[0].MPA_ID}}</p>
    <p>Effective Date: {{contract_info[0].Effective_Date}}</p>
    <p>Market: {{contract_info[0].Market}}</p>
    <p>MSA Amendment: {{contract_info[0].AMD_MSA_ID}}</p>
    <p>Service Description: {{contract_info[0].Service_description}}</p>
    <p>Fees: {{contract_info[0].Fees}}</p>
    <p>Minimum service commitment: {{contract_info[0].Minimum_service_commitment}}</p>
    <p>Cumulative NRC subsidy: {{contract_info[0].Cum_NRC_subsidy}}</p>
    <a href={{contract_info[0].hyperlink}} target="'_blank">MPA original</a>
</div>
{% endblock %}


{% block site_data %}
    <div class="content">
        <table class="style-table">
        {% for col in columns %}
            <th>{{col.name}}</th>
        {% endfor %}
        {% for site in site_info %}
            <tr>
                <td>
                    <form action="/sites" method = 'POST'>
                        <input type="submit" name="fname" value={{site.SiteID}}>
                    </form>
                </td>
                <td>{{site.Contract_Name}}</td>
                <td>{{site.DeliveryInterval}}</td>
                <td>{{site.MRC}}</td>
                <td>{{site.NRC}}</td>
                <td>{{site.Lease_term}}</td>
                <td>{{site.NXOFiberProvider}}</td>
                <td>{{site.ContractedFiberProvider}}</td>
                <td>{{site.Status}}</td>
                <td>{{site.Region}}</td>
                <td>{{site.Market}}</td>
                <td>{{site.AOI}}</td>
                <td>{{site.FiberType}}</td>
                <td>{{site.NXOLaunchCategory}}</td>
                <td>{{site.TR020AC}}</td>
                <td>{{site.TR050AC}}</td>
                <td>{{site.TR080AC}}</td>
                <td>{{site.ProjectedInstallDate}}</td>
                <td>{{site.ServiceDelay}}</td>
                <td>{{site.ServiceCredits}}</td>
                <td>{{site.ETL_payable}}</td>
                <td>{{site.Terminable}}</td>
                <td>{{site.Effective_Date}}</td>
                <td>{{site.MPA_effective_date}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}

