{% extends 'MSA_base.html' %}

{% block search %}

    <h1 class="title">{% block title %} MSA's {% endblock %}</h1>
    <div >
        <form action = "" method="POST">
            <label for="fname">MSA Name:</label><br>
            <input type="list" id = "fname" name = "fname"><br>
        </form>
    </div>

{% endblock %}

{% block contract_data %}
<div class="MSA">
    <h1>MSA Information</h1>
    <p>Fiber Provider: {{contract_info[0].Vendor}}</p>
    <p>Contract Name: {{contract_info[0].Contract_Name}}</p>
    <p>Effective Date: {{contract_info[0].Effective_date}}</p>
    <p>10 Gig pricing upgrade cost: {{contract_info[0].upgrade_pricing}}</p>
    <p>Auto acceptance period: {{contract_info[0].Autoacceptance_period}}</p>
    <p>Design phase length: {{contract_info[0].Design_phase_length}} days</p>
    <p>Resolution of design Rejections: {{contract_info[0].Resolution_of_Design_Rejections}}</p>
    <p>Payment term days: {{contract_info[0].Payment_terms_days}}</p>
    <p>Dispute period: {{contract_info[0].Dispute_period}}</p>
    <p>Minimum commitments: {{contract_info[0].Minimum_commitments}}</p>

    <p>Transition period: {{contract_info[0].Transition_period}}</p>
    <p># of sites originally awarded to vendor: {{original_sites.sites1.values[0]}}</p>
    <p># of sites currently awarded to vendor: {{current_sites.sites2.values[0]}}</p>

    <p># of sites that have been deselected by the Vendor: {{deselect_info[0][0]}}</p>
    <p># of sites that have been deselected by Dish: {{deselect_info[0][1]}}</p>
    <p>Deselect penalty owed to Dish by the Vendor: {{deselect_info[0][2]}}</p>

    <p>Total contract value for this vendor: {{contract_value.contract_value[0]}}</p>
    <p>ETL payable on cancellation: {{etl.etl_payable.values[0]}}</p>
    <p>Service Credits owed to Dish due to late sites: {{service_credits.service_credits.values[0]}}</p>
    <a href={{contract_info[0].hyperlink}} target="'_blank">MSA original</a>
</div>
{% endblock %}


{% block MSO_data %}
    <h1>CURRENT ACTIVE CONTRACTS</h1>
    <div class="content">
        <table class="styled_table_1">
        {% for col in MSO_columns %}
            <th>{{col.name}}</th>
        {% endfor %}
        {% for MSO in MSO_info %}
            <tr>
                <td>
                    <form action="/MSO" method="POST">
                        <input type="submit" name="fname" value={{MSO.ID}}>
                    </form>
                </td>
                <td>{{MSO.Vendor}}</td>
                <td>{{MSO.Effective_Date}}</td>
                <td>{{MSO.Term}}</td>
                <td>{{MSO.Sites_Added}}</td>

            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}

{% block Archive %}
  <h1 class="content">ARCHIVED CONTRACTS</h1>
  <div>
    {% for table in tables %}
      {{titles[loop.index]}}
      {{ table|safe }}
    {% endfor %}

  </div>
{% endblock %}


{% block MPA_data %}
    <h1>MPA CONTRACTS</h1>
    <div>
        <table class="styled_table_2">
            {% for col in MPA_columns %}
                <th>{{col.name}}</th>
            {% endfor %}
            {% for MPA in MPA_info %}
                <tr>
                    <td>
                        <form action="/MPA" method="POST">
                            <input type="submit" name="fname" value={{MPA.MPA_ID}}>
                        </form>
                    </td>
                    <td>{{MPA.Vendor}}</td>
                    <td>{{MPA.Effective_Date}}</td>
                    <td>{{MPA.Market}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}