<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        .title {
            margin: 5px;
        }

        .content {
            margin: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .employee {
            flex: 20%;
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
            inline-size: 100%;
        }

        .name {
            color: #00a36f;
            text-decoration: none;
        }

        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .pagination {
            margin: 0 auto;
        }

        .pagination span {
            font-size: 2em;
            margin-right: 10px;
        }

        .page-number {
            color: #ee022e;
            padding: 5px;
            text-decoration: none;
        }

        .current-page-number {
            color: #666
        }

        .style_table_1,th,td,tr {
            table-layout: auto;
            padding: 10px;
            margin-top: 170px;
            width: 800px;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .style_table_2,th,td,tr {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .button1{
            width:300px;
            height:100px
        }
        .site_info{
            width:120px;
            height:150px;
            background: lightgray;
            float:left}
        .Contract_info{
            width:200px;
            height:500px;
            background: cornsilk;
            float:left;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Dish Wireless</a>

    </nav>
    <hr>
    <div class="search">
        {% block search %} {% endblock %}

    </div>
    <div class="contract-data">
        {% block contract_data %} {% endblock %}
    </div>
    <div class="MSO-data">
        {% block MSO_data %} {% endblock %}
    </div>
    <div class="Archive">
         {% block Archive %} {% endblock %}
    </div>
    <div class="MPA-data">
        {% block MPA_data %} {% endblock %}
    </div>
</body>
</html>